
  {{!--will have favorite locations, map display, search bar, button to save location --}}
  <figure>
    <img class='dashimg' src="assets/dashboard pantry.jpg" alt="pantry checklist">
  </figure>
  <h1 class="pagedash">MY DASHBOARD</h1>
  <p class='p'>Your private page to search for a pantry and save your favorites with comments.</p>
  <a class='pagedash' href="/api/reviews">Leave a Public Review for Your Favorite Spots Here!</a>

  <div class="pure-g">
    {{!-- Search bar for pantry --}}
    <div class="pure-u-1-2">
      {{!-- button to add pantry to favorites and comments--}}
      <form id='pf' class="pure-form">
        <fieldset class="pure-group">
          <h4>Save to My Dashboard Favorites</h4>
          <br>
          <p>(All fields required)</p>
          <p>Anything you write here only appears in your dashboard!</p>
          <input id="pantry-name" type="text" class="pure-input-1" placeholder="Pantry Name" />
          <br>
          <input id="pantry-address" type="text" class="pure-input-1" placeholder="Pantry Address" />
        </fieldset>
        <fieldset class="pure-group">
          <textarea id="pantry-comment" class="pure-input-1" placeholder="Add comments here"></textarea>
        </fieldset>
        <button type="submit" class="button-fave" id="add-review">Add to Favorites ⭐</button>
      </form>
    </div>
     
    {{!-- map should go here --}}
    <div class="pure-u-1-2">
      <div class='map'>
        <div class='pure-u-1-2'>
          <iframe src="https://embed.waze.com/iframe?zoom=14&lat=-23.55052&lon=-46.63331&pin=1&desc=1" width="200%"
            height="550"></iframe>
        </div>
      </div>
    </div>
  </div>
  <br>


  {{!-- table of favorite places and comments --}}
     <h4>⭐Favorites⭐</h4>
    <p class='p'>Table shows all your favorite locations and private comments added.</p>
  </div>
  <div class='favtable'>
    <table class="pure-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Location Name</th>
          <th>Location Address</th>
          <th>Comment</th>
        </tr>
      </thead>
    </table>
  </div>




  <footer>Made with 🔥 by a Jackalope</footer>




<script src="./js/reviews.js"></script>