<section class="about-section pure-g">
    <article class="about-intro pure-u-1 pure-u-md-1-2 pure-u-lg-1">
        <section class="about-little-section pure-u-md-1 pure-u-lg-1-2">
            <h1 class="about-description about-header">What's for dinner?</h1>
            <p class="about-description about-p about-p-1">
                With NeighborGoods, you can keep track of the food pantries you have visited and write private notes and
                public
                reviews. Did that food pantry you visited yesterday have fresh produce but no canned goods? Write a note to yourself so you
                remember for next time!
            </p>
        </section>

        <section class="about-little-section pure-u-md-1 pure-u-lg-1-2">
            <h2 class="about-description about-header">Our Mission</h2>
            <p class='about-description about-p about-p-2'>
                Provide access to healthy and nutritious food for our neighbors, and remove the stigma behind receiving
                food
                assistance.
                Utilizing this application will bring awareness to food pantry services within the Chicagoland
                area.
            </p>
        </section>

    </article>


    <figure class="about-imgs pure-u-1 pure-u-md-1-2 pure-u-lg-1">
        <img id="veggie" class="img pure-u-lg-1-4" src="assets/vegetables.jpg" alt="Many vegetables">
        <img id="produce" class="img pure-u-lg-1-4" src="assets/produce.jpg" alt="Many vegetables">
        <img id="bread" class="img pure-u-lg-1-4" src="assets/bread.jpg" alt="Bread">
        <img id="bread" class="img pure-u-lg-1-4" src="assets/bag.jpg" alt="Grocery bag">
    </figure>

</section>

