<section class="about-section pure-g">
    <article class="about-intro pure-u-1-2">
        <h1 class="about-description about-header">What's for dinner?</h1>
        <p class="about-description about-p about-p-1">
            With NeighborGoods, you can keep track of the food pantries you have visited and write private notes and
            public
            reviews. Did that food pantry you visit yesterday have fresh produce? Write a note to yourself so you
            remember for next time!
        </p>

        <div class="blockquote-wrapper">
            <div class="blockquote">
                <h3>
                    Provide access to <span>healthy and nutritious food
                    for our neighbors,</span> and <span>remove the stigma</span> behind receiving food assistance. 
                    <br>
                    <br>
                    Utilizing this application will bring
                    awareness to food pantry services within the <span>Chicagoland area.</span>
                </h3>
                <h4>&mdash;Our Mission</h4>
            </div>
        </div>


    </article>


    <figure class="about-imgs pure-u-1-2">
        <img id="veggie" class="img" src="assets/vegetables.jpg" alt="Many vegetables">
        <img id="produce" class="img" src="assets/produce.jpg" alt="Many vegetables">
        <img id="bread" class="img" src="assets/bread.jpg" alt="Bread">
        <img id="bread" class="img" src="assets/bag.jpg" alt="Grocery bag">
    </figure>

</section>
