<section class="pure-g">
    <article class="pure-u-1-2">
        <h1>What's for dinner?</h1>
        <p>
            With NeighborGoods, you can keep track of the pantries you have visited and write
        </p>
    </article>

    <figure class="pure-u-1-2">
        <img src="assets/vegetables.jpg" alt="Many vegetables">
    </figure>

</section>

