<section>
  {{!-- This is done! --}}
  <section>
    <h2>Login</h2>
    <form class="pure-form pure-form-aligned">
      <fieldset>
        <div class="pure-control-group">
          <label for="email-login">Email:</label>
          <input type="text" id="email-login" placeholder="Email" />
        </div>
        <div class="pure-control-group">
          <label for="password-login">Password</label>
          <input type="password" id="password-login" placeholder="Password" />
        </div>
        <div class="pure-controls">
          <button type="submit" class="login-form btn btn-primary">Log in</button>
        </div>
      </fieldset>
    </form>
  </section>

  {{!-- Need to start based on the below form --}}
  <section>
    <h2>Sign up</h2>
    <form class="pure-form pure-form-aligned">
      <fieldset>
        <div class="pure-control-group">
          <label for="email-login">Email:</label>
          <input type="text" id="email-login" placeholder="Email" />
        </div>
        <div class="pure-control-group">
          <label for="password-login">Password</label>
          <input type="password" id="password-login" placeholder="Password" />
        </div>
        <div class="pure-controls">
          <button type="submit" class="login-form btn btn-primary">Log in</button>
        </div>
      </fieldset>
    </form>
  </section>


  <section>
    <h2>Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="first-name">first name:</label>
        <input class="form-input" type="text" id="first-name" />
      </div>
      <div class="form-group">
        <label for="last-name">last name:</label>
        <input class="form-input" type="text" id="last-name" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <label for="confirm-password">confirm password:</label>
        <input class="form-input" type="password" id="confirm-password" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </section>
</section <script src="./js/login.js">
</script>

