
<form>
    <div class="grid-container">
        <div class="grid-x grid-padding-x row align-spaced">
            <div class="column small-2">
                <label>Search for a food pantry here!
                    <input class="medium-3 " type="text" placeholder=".small-6.cell">
                </label>
                <button class="submit success button search-review">Search</button>
                <label class="review-input">
                    Write your review here!
                    <textarea placeholder="None"></textarea>
                </label>
            </div>
            <div class="column small-4">
                <label>Input Label
                    <input type="text" placeholder=".medium-6.cell">
                </label>
            </div>
        </div>
    </div>
</form>

