  <form class="pure-form">
        <fieldset class="pure-group">
          <p>Leave a Public Review</p>
          <input type="text" class="pure-input-1" placeholder="Pantry Name" />
          <input type="text" class="pure-input-1" placeholder="Pantry Address" />
        </fieldset>
        <fieldset class="pure-group">
          <textarea class="pure-input-1" placeholder="Add review here"></textarea>
        </fieldset>
        <button type="submit" class="button-fave">Submit Public Review</button>
      </form>

<div class="pure-u-1-2">
      <div class='map'>
        <div class='pure-u-1-2'>
          <iframe src="https://embed.waze.com/iframe?zoom=14&lat=-23.55052&lon=-46.63331&pin=1&desc=1" width="300%"
            height="520"></iframe>
        </div>
      </div>
    </div>