<section>
  <h2>Sign up</h2>
  <form class="pure-form pure-form-aligned signup-form">
    <fieldset>
      <div class="pure-control-group">
        <label for="first-name">First Name:</label>
        <input type="text" id="first-name" placeholder="First name" required="" />
      </div>
      <div class="pure-control-group">
        <label for="last-name">Last Name:</label>
        <input type="text" id="last-name" placeholder="Last name" required="" />
      </div>
      <div class="pure-control-group">
        <label for="email-signup">Email:</label>
        <input type="email" id="email-signup" placeholder="Email" required="" />
      </div>
      <div class="pure-control-group">
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" placeholder="Password" required="" />
      </div>
      <div class="pure-control-group">
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" placeholder="Confrim password" required="" />
      </div>
      <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Sign up</button>
      </div>
    </fieldset>
  </form>
</section>
<script src="./js/signup.js"></script>