/* Root */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&family=Syne:wght@600;700;800&display=swap');

/* Homepage */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;

}

.link:hover {
    text-shadow: 4px 5px 5px rgba(0,0,0,0.19);
}

#logo {
    width: 15vw;
}

.pure-menu-heading {
    color: #BF4F45;
    font-size: 3vh;
    font-family: 'Poppins', sans-serif;
    font-family: 'Syne', sans-serif;
    font-weight: 700;

}

.pure-menu-list {
    margin-right: 2%;
}

#joinnow, #logout {
    background: none;
    color: #F2A950;
    font-size: 2vh;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
}

#signin, #dashboard {
    background: none;
    border: .01rem #7C8C42 solid;
    border-radius: 5px;
    color: #203140;
    font-size: 2vh;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
}

.about-section {
    display: flex;
    margin: 2% 1% 0 1%;
}


.about-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: middle;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 2%;
}

.about-little-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-header {
    font-size: 5vh;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
}

.about-description {
    text-align: center;
}

.about-p {
    font-size: 1.75vh;
    line-height: 1.7;
}

.about-p-1 {
    margin-bottom: 5%;
}

h2 {
    font-size: 3.5vh;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    margin-bottom: 3.5%;
}


.about-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.img {
    width: 45%;
    margin: .5rem;
    border-radius: 15%;
    box-shadow:
    1.4px 2px 5.3px rgba(0, 0, 0, 0.024),
    4px 5.6px 14.8px rgba(0, 0, 0, 0.035),
    9.6px 13.6px 35.6px rgba(0, 0, 0, 0.046),
    32px 45px 118px rgba(0, 0, 0, 0.07);
    /* -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4)); */

}


/* Join Now */
.join-signin-section {
    display: flex;
    align-items: center;
    justify-content: middle;
}

.signup-form {
    max-width: 240px;
    margin: 0 auto;
}

.join-now-heading {
    font-family: 'Syne', sans-serif;
    font-weight: 700;
}

.join-now-subheading {
    font-size: 1.5vh;
}

span {
    color: #F2A950;
}

#join-signin-link {
    text-decoration: none;
    color: #F2A950;
}

#join-img {
    height: 80vh;
    border-radius: 45px;
}

.join-singin-button {
    background: none;
    border: .01rem #7C8C42 solid;
    border-radius: 5px;
    color: #203140;
    font-size: 1.5vh;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
}

.login-form {
    max-width: 180px;
    margin: 0 auto;
}

#sigin-img {
    height: 70vh;
    border-radius: 45px;
}

/* Dashboard */

title {
    font-family: Arial, Helvetica, sans-serif;
}

.dashimg {
    border-radius: 150px;
    text-align: center;
    background-size: cover;
    height: 200px;
    width: 70%;
    margin: auto;
    display: table;
    -webkit-box-reflect: above 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

/* header */
.pagedash {
    display: flex;
    justify-content: center;
}



/* Waze Map */
.map {
    display: flex;
    justify-content: left;
    margin-top: 30px;
    margin-bottom: 15px;
}


.button-search {
    background: white;
    border-radius: 10px;
    border-color: black;
    color: black;
}

.button-fave {
    background: white;
    border-radius: 10px;
    border-color: black;
    color: black;
}

.button-fave:hover {
    background-color: rgb(224, 224, 224);
    color: #BF4F45;
  }

  .button-search:hover {
    background-color: rgb(224, 224, 224);
    color: #BF4F45;
  }

h4 {
    display: flex;
    justify-content: center;
}

.p {
    display: flex;
    justify-content: center;
}

.favtable {
    display: flex;
    justify-content: center;
}




@media screen and (min-width: 64em) {
    .img {
        width: 22%;
    }
    #logo {
        width: 7vw;
    }

    #join-img {
        height: 85vh;
    }

    #sigin-img {
        height: 80vh;
    }
  
}

/* 
@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }
} */