/* Homepage */
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;

}

.pure-menu-heading {
    color: #BF4F45;

}

.pure-menu-list {
    margin-right: 1%;
}

#joinnow {
    background: none;
    color: #F2A950;
}

#signin {
    background: none;
    border: .01rem #7C8C42 solid;
    border-radius: 5px;
    color: #203140;
}

.about-section {
    display: flex;
    justify-content: middle;
    align-items: center;
}

.about {
    margin-top: 10%;
}

img {
    max-width: 100%;;
    height: 100%;
    border-radius: 150px;
}

/* Dashboard */

.header {
    display: flex;
    flex-direction:row;
    background-color: blue;

}

title {
    font-family: Arial, Helvetica, sans-serif;
}

.dashimg {
    border-radius: 150px;
    text-align: center;
    background-size: cover;
    height: 200px;
    width: 50%;
    margin: auto;
    display: table;
    -webkit-box-reflect: above 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

/* header */
.pagedash {
    display: flex;
    justify-content: center;
}

/* #pure-form {
    margin: 50px;
    color: black;
} */

.pure-form {
    margin: 50px;
    color: black;
}

/* Waze Map */
.map {
    display: flex;
    justify-content: left;
    margin-top: 25px;
    margin-bottom: 25px;
}


.button-search {
    background: white;
    border-radius: 10px;
    border-color: black;
    color: black;
}

.favorites {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.button-fave {
    background: white;
    border-radius: 10px;
    border-color: black;
    color: black;
}

.favetext{
    display: flex;
    justify-content: center;
}
.favtable {
    display: flex;
    justify-content: center;
}


/* 
@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }
} */